## Import thư viện

In [1]:
import numpy as np
import pandas as pd
pd.options.display.max_columns = 50

import matplotlib.pyplot as plt
import seaborn as sns

## Đọc dữ liệu

In [2]:
df = pd.read_csv('results.csv')
df.head()

,Season,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,Referee,HS,AS,HST,AST,HC,AC,HF,AF,HY,AY,HR,AR
0,2000-01,8/19/2000 0:00,Charlton,Man City,4,0,H,2,0,H,Rob Harris,17,8,14,4,6,6,13,12,1,2,0,0
1,2000-01,8/19/2000 0:00,Chelsea,West Ham,4,2,H,1,0,H,Graham Barber,17,12,10,5,7,7,19,14,1,2,0,0
2,2000-01,8/19/2000 0:00,Coventry,Middlesbrough,1,3,A,1,1,D,Barry Knight,6,16,3,9,8,4,15,21,5,3,1,0
3,2000-01,8/19/2000 0:00,Derby,Southampton,2,2,D,1,2,A,Andy D'Urso,6,13,4,6,5,8,11,13,1,1,0,0
4,2000-01,8/19/2000 0:00,Leeds,Everton,2,0,H,2,0,H,Dermot Gallagher,17,12,8,6,6,4,21,20,1,3,0,0

- FTHG: Full Time Home Team Goals
- FTAG: Full Time Away Team Goals
- FTR: Full Time Result (H=Home Win, D=Draw, A=Away Win)
- HTHG: Half Time Home Team Goals
- HTAG: Half Time Away Team Goals
- HTR: Half Time Result (H=Home Win, D=Draw, A=Away Win)
- Referee: Match Referee
- HS: Home Team Shots
- AS: Away Team Shots
- HST: Home Team Shots on Target
- AST: Away Team Shots on Target
- HC: Home Team Corners
- AC: Away Team Corners
- HF: Home Team Fouls Committed
- AF: Away Team Fouls Committed
- HY: Home Team Yellow Cards
- AY: Away Team Yellow Cards
- HR: Home Team Red Cards
- AR: Away Team Red Cards

## Mô tả dữ liệu

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7600 entries, 0 to 7599
Data columns (total 23 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Season    7600 non-null   object
 1   Date      7600 non-null   object
 2   HomeTeam  7600 non-null   object
 3   AwayTeam  7600 non-null   object
 4   FTHG      7600 non-null   int64
 5   FTAG      7600 non-null   int64
 6   FTR       7600 non-null   object
 7   HTHG      7600 non-null   int64
 8   HTAG      7600 non-null   int64
 9   HTR       7600 non-null   object
 10  Referee   7600 non-null   object
 11  HS        7600 non-null   int64
 12  AS        7600 non-null   int64
 13  HST       7600 non-null   int64
 14  AST       7600 non-null   int64
 15  HC        7600 non-null   int64
 16  AC        7600 non-null   int64
 17  HF        7600 non-null   int64
 18  AF        7600 non-null   int64
 19  HY        7600 non-null   int64
 20  AY        7600 non-null   int64
 21  HR        7600 non-null   int64
 22  AR        7600 non-null   int64
dtypes: int64(16), object(7)
memory usage: 1.3+ MB

In [5]:
df.describe(include = 'all')

,Season,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,Referee,HS,AS,HST,AST,HC,AC,HF,AF,HY,AY,HR,AR
count,7600,7600,7600,7600,7600.000000,7600.000000,7600,7600.000000,7600.000000,7600,7600,7600.000000,7600.000000,7600.000000,7600.000000,7600.000000,7600.000000,7600.000000,7600.000000,7600.000000,7600.000000,7600.000000,7600.000000
unique,20,2144,43,43,NaN,NaN,3,NaN,NaN,3,169,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,2014-15,5/13/2012 0:00,Tottenham,Tottenham,NaN,NaN,H,NaN,NaN,D,M Dean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,380,10,380,380,NaN,NaN,3529,NaN,NaN,3141,478,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,NaN,NaN,NaN,1.528947,1.140132,NaN,0.682500,0.498947,NaN,NaN,13.525000,10.566842,6.255395,4.828158,6.129211,4.787632,11.436184,12.003816,1.403816,1.760395,0.064079,0.091447
std,NaN,NaN,NaN,NaN,1.296113,1.131548,NaN,0.831894,0.714742,NaN,NaN,5.231667,4.529502,3.351286,2.815406,3.100482,2.730690,3.803660,3.964524,1.187938,1.272291,0.256459,0.299898
min,NaN,NaN,NaN,NaN,0.000000,0.000000,NaN,0.000000,0.000000,NaN,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000
25%,NaN,NaN,NaN,NaN,1.000000,0.000000,NaN,0.000000,0.000000,NaN,NaN,10.000000,7.000000,4.000000,3.000000,4.000000,3.000000,9.000000,9.000000,0.000000,1.000000,0.000000,0.000000
50%,NaN,NaN,NaN,NaN,1.000000,1.000000,NaN,0.000000,0.000000,NaN,NaN,13.000000,10.000000,6.000000,4.000000,6.000000,4.000000,11.000000,12.000000,1.000000,2.000000,0.000000,0.000000
75%,NaN,NaN,NaN,NaN,2.000000,2.000000,NaN,1.000000,1.000000,NaN,NaN,17.000000,13.000000,8.000000,6.000000,8.000000,6.000000,14.000000,14.000000,2.000000,3.000000,0.000000,0.000000
max,NaN,NaN,NaN,NaN,9.000000,9.000000,NaN,5.000000,5.000000,NaN,NaN,43.000000,30.000000,24.000000,20.000000,20.000000,19.000000,33.000000,29.000000,7.000000,9.000000,3.000000,2.000000