## Import thư viện

In [1]:
import numpy as np
import pandas as pd
pd.options.display.max_columns = 50

import matplotlib.pyplot as plt
import seaborn as sns

## Đọc dữ liệu

In [2]:
results_df = pd.read_csv('results.csv')
results_df.head()

,Season,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,Referee,HS,AS,HST,AST,HC,AC,HF,AF,HY,AY,HR,AR
0,1993-94,1993-08-14 00:00:00,Arsenal,Coventry,0,3,A,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1993-94,1993-08-14 00:00:00,Aston Villa,QPR,4,1,H,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1993-94,1993-08-14 00:00:00,Chelsea,Blackburn,1,2,A,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1993-94,1993-08-14 00:00:00,Liverpool,Sheffield Weds,2,0,H,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1993-94,1993-08-14 00:00:00,Man City,Leeds,1,1,D,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Khám phá dữ liệu

#### Số dòng, số cột

In [3]:
num_rows, num_cols = results_df.shape
print(f'Rows: {num_rows} \nCols: {num_cols}')

Rows: 10424
Cols: 23

#### Ý nghĩa các cột

- FTHG: Full Time Home Team Goals
- FTAG: Full Time Away Team Goals
- FTR: Full Time Result (H=Home Win, D=Draw, A=Away Win)
- HTHG: Half Time Home Team Goals
- HTAG: Half Time Away Team Goals
- HTR: Half Time Result (H=Home Win, D=Draw, A=Away Win)
- Referee: Match Referee
- HS: Home Team Shots
- AS: Away Team Shots
- HST: Home Team Shots on Target
- AST: Away Team Shots on Target
- HC: Home Team Corners
- AC: Away Team Corners
- HF: Home Team Fouls Committed
- AF: Away Team Fouls Committed
- HY: Home Team Yellow Cards
- AY: Away Team Yellow Cards
- HR: Home Team Red Cards
- AR: Away Team Red Cards

#### Kiểm tra trùng lặp

In [4]:
duplicate = results_df.duplicated()
duplicate[duplicate == True]

Series([], dtype: bool)

#### Kiểu dữ liệu của từng cột

In [5]:
results_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10424 entries, 0 to 10423
Data columns (total 23 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Season    10424 non-null  object
 1   Date      10424 non-null  object
 2   HomeTeam  10424 non-null  object
 3   AwayTeam  10424 non-null  object
 4   FTHG      10424 non-null  int64
 5   FTAG      10424 non-null  int64
 6   FTR       10424 non-null  object
 7   HTHG      9500 non-null   float64
 8   HTAG      9500 non-null   float64
 9   HTR       9500 non-null   object
 10  Referee   7600 non-null   object
 11  HS        7600 non-null   float64
 12  AS        7600 non-null   float64
 13  HST       7600 non-null   float64
 14  AST       7600 non-null   float64
 15  HC        7600 non-null   float64
 16  AC        7600 non-null   float64
 17  HF        7600 non-null   float64
 18  AF        7600 non-null   float64
 19  HY        7600 non-null   float64
 20  AY        7600 non-null   float64
 21  HR        7600 non-null   float64
 22  AR        7600 non-null   float64
dtypes: float64(14), int64(2), object(7)
memory usage: 1.8+ MB

## Tiền xử lí

In [6]:
results_df[results_df.isnull().any(axis=1)]

,Season,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,Referee,HS,AS,HST,AST,HC,AC,HF,AF,HY,AY,HR,AR
0,1993-94,1993-08-14 00:00:00,Arsenal,Coventry,0,3,A,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1993-94,1993-08-14 00:00:00,Aston Villa,QPR,4,1,H,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1993-94,1993-08-14 00:00:00,Chelsea,Blackburn,1,2,A,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1993-94,1993-08-14 00:00:00,Liverpool,Sheffield Weds,2,0,H,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1993-94,1993-08-14 00:00:00,Man City,Leeds,1,1,D,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2819,1999-00,2000-05-14 00:00:00,Sheffield Weds,Leicester,4,0,H,2.0,0.0,H,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2820,1999-00,2000-05-14 00:00:00,Southampton,Wimbledon,2,0,H,0.0,0.0,D,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2821,1999-00,2000-05-14 00:00:00,Tottenham,Sunderland,3,1,H,1.0,1.0,D,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2822,1999-00,2000-05-14 00:00:00,Watford,Coventry,1,0,H,1.0,0.0,H,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2823,1999-00,2000-05-14 00:00:00,West Ham,Leeds,0,0,D,0.0,0.0,D,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

- Các cột HTHG HTAG HS AS HST AST HC AC HF AF HY AY HR AR và HTR Referee có tỉ lệ giá trị thiếu khá cao từ năm mùa giải năm 1993-94 tới mùa giải 1999-00 vì thế chúng ta sẽ bắt đầu khám phá dữ liệu từ năm 2000

In [7]:
df = results_df.dropna(axis = 0, how = 'any')
df.reset_index(drop = True)

,Season,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,Referee,HS,AS,HST,AST,HC,AC,HF,AF,HY,AY,HR,AR
0,2000-01,2000-08-19 00:00:00,Charlton,Man City,4,0,H,2.0,0.0,H,Rob Harris,17.0,8.0,14.0,4.0,6.0,6.0,13.0,12.0,1.0,2.0,0.0,0.0
1,2000-01,2000-08-19 00:00:00,Chelsea,West Ham,4,2,H,1.0,0.0,H,Graham Barber,17.0,12.0,10.0,5.0,7.0,7.0,19.0,14.0,1.0,2.0,0.0,0.0
2,2000-01,2000-08-19 00:00:00,Coventry,Middlesbrough,1,3,A,1.0,1.0,D,Barry Knight,6.0,16.0,3.0,9.0,8.0,4.0,15.0,21.0,5.0,3.0,1.0,0.0
3,2000-01,2000-08-19 00:00:00,Derby,Southampton,2,2,D,1.0,2.0,A,Andy D'Urso,6.0,13.0,4.0,6.0,5.0,8.0,11.0,13.0,1.0,1.0,0.0,0.0
4,2000-01,2000-08-19 00:00:00,Leeds,Everton,2,0,H,2.0,0.0,H,Dermot Gallagher,17.0,12.0,8.0,6.0,6.0,4.0,21.0,20.0,1.0,3.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7595,2019-20,2020-07-26 16:00:00,Leicester,Man United,0,2,A,0.0,0.0,D,M Atkinson,14.0,7.0,3.0,3.0,3.0,3.0,12.0,11.0,1.0,4.0,1.0,0.0
7596,2019-20,2020-07-26 16:00:00,Man City,Norwich,5,0,H,2.0,0.0,H,C Pawson,31.0,5.0,10.0,4.0,9.0,0.0,7.0,4.0,1.0,1.0,0.0,0.0
7597,2019-20,2020-07-26 16:00:00,Newcastle,Liverpool,1,3,A,1.0,1.0,D,A Taylor,3.0,14.0,2.0,6.0,2.0,4.0,11.0,5.0,1.0,0.0,0.0,0.0
7598,2019-20,2020-07-26 16:00:00,Southampton,Sheffield United,3,1,H,0.0,1.0,A,P Bankes,13.0,5.0,4.0,3.0,9.0,1.0,9.0,16.0,0.0,1.0,0.0,0.0
7599,2019-20,2020-07-26 16:00:00,West Ham,Aston Villa,1,1,D,0.0,0.0,D,M Oliver,10.0,13.0,1.0,4.0,0.0,7.0,16.0,13.0,2.0,1.0,0.0,0.0

## Đặt câu hỏi

 - Số bàn thắng tương ứng như thế nào với xếp hạng của các đội trong mùa giải 3 mùa giải gần đây nhất ?

In [8]:
#df['Date'] = pd.to_datetime(df['Date'],  format = '%m/%d/%Y %H:%M:%)

In [9]:
season_list = df.groupby('Season')['Season'].sum().index
season_list = season_list[-3:]

In [42]:
season = df[df['Season'].isin(season_list[-3:]) == True].reset_index(drop = True)
season_scored = season[['Season', 'HomeTeam', 'FTR', 'AwayTeam']]

Home = season_scored.groupby(['Season', 'HomeTeam', 'FTR']).count()
Home = Home.reset_index(['HomeTeam', 'FTR'])
Home = Home.rename({'AwayTeam':'HomeScore'}, axis = 1)

In [43]:
Away = season_scored.groupby(['Season', 'AwayTeam', 'FTR']).count()
Away = Away.reset_index(['AwayTeam', 'FTR'])
Away = Away.rename({'HomeTeam':'AwayScore'}, axis = 1)

In [44]:
Summary_df = Home.merge(Away, left_on = 'HomeTeam', right_on = 'AwayTeam')
Summary_df

              HomeTeam FTR_x  HomeScore          AwayTeam FTR_y  AwayScore
0              Arsenal     A          2           Arsenal     A          4
1              Arsenal     A          2           Arsenal     D          4
2              Arsenal     A          2           Arsenal     H         11
3              Arsenal     A          2           Arsenal     A          7
4              Arsenal     A          2           Arsenal     D          4
...                ...   ...        ...               ...   ...        ...
1390  Sheffield United     D          3  Sheffield United     D          9
1391  Sheffield United     D          3  Sheffield United     H          6
1392  Sheffield United     H         10  Sheffield United     A          4
1393  Sheffield United     H         10  Sheffield United     D          9
1394  Sheffield United     H         10  Sheffield United     H          6

[1395 rows x 6 columns]

In [ ]:
Summary_df['Summary'] = Summary_df['HomeScore'] + Summary_df['AwayScore']

In [ ]:
Summary_df.head(10)